#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: rgb(65, 31, 233);
  text-align: center;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
}

#discordLogo img {
  justify-content: space-between;
  width: 200px;
  height: 50px;
}
#menuIcon {
  height: 20px;
  width: auto;
  contain: layout;
  background-size: contain;
  background-repeat: no-repeat;
}
main {
  display: grid;
  gap: 20px;
  padding: auto;
  justify-content: start;
  align-items: 59 wd;
  justify-content: 50wd;
}
#button1 {
  background-color: rgb(65, 31, 233);

  padding-left: 4em;
  height: 50px;
  width: 180px;
}
#button2 {
  background-color: rgb(65, 31, 233);
  padding-left: 4em;
  color-scheme: black;
  height: 50px;
  width: 180px;
}
#h1 {
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  flex-direction: column;
  border-left: 10px;
}

#p1 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-size: 0.8em;
  width: 200px;
  padding: 100px;
  text-align: left;
  box-sizing: content-box;
}

#guysatbar {
  padding-right: 4em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
